
.disp-card {
  width: 100%;
  min-height: 10em;
  padding: 1em;
  border-radius: 0.4em;
  background-color: #EFEFEF;
  border: 1px solid #5868E4;
}

.disp-row {
    margin: 0;
    padding: 0;
}

.disp-col {
    margin: 0;
    padding: 0 1em 1em 0;
}

@media (max-width: 40em) {
    .disp-row {
        margin: 0;
        padding: 0;
    }
    .disp-col {
        margin: 0;
        padding: 0 0 0.5em 0;
    }
}