@use 'bootstrap/scss/bootstrap' with (
    $theme-colors: (
        "primary" : #0471c9,
        "secondary" : #388edf,
        "tertiary" : #67adea,
        "complementar": #FAB281,
        "danger": #F00,
        "success": #0B0,
        "blue": #00F,
    )
);
