@use 'bootstrap/scss/bootstrap' with (
    $theme-colors: (
        "primary" : #2338DA,
        "secondary" : #5868E4,
        "tertiary" : #8E99ED,
        "complementar": #E3D24D,
        "danger": #F00,
        "success": #0B0
    )
);
