
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #EEE;
}

h1, h2, h3, h4, h5, h6, th {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p, li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



tr.blue th {
  background-color: rgb(177, 177, 243);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
