
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #8E99ED;
}

h1, h2, h3, h4, h5, h6, th {
  font-family: "Georgia", "Garamond", serif;
}

p, li, span {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

tr.blue th {
  /*background-color: #B1B1F3;*/
  background-color: #2451F9;
  color: #FFF;
}

button.func {
  display: inline-flex;
  justify-content: center;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.title {
  background-color: #2451F9;
  padding: 0.2em;
  margin-top: 0.5em;
  font-weight: bold;

  color: #FFF;
  text-align: center;
  /*text-shadow: 1px 1px 2px #333;*/
}

.icon-btn:hover {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #8E99ED;
  }
  a:hover {
    color: #747bff;
  }
}

.card {
  width: 50em;
  border-radius: 0 !important;
  border: none !important;
  box-shadow: 3px 3px 5px #333 !important;
}

.card .card-header {
  padding: 1em !important;
  text-transform: uppercase !important;
}

.page-item .page-link {
  background-color: #FFF;
}

.active .page-link {
  background-color: #2451F9 !important;
}

.form-control {
  border-radius: 0 !important;
  padding-top: 0.75em !important;
  padding-bottom: 0.75em !important;
  border: 1px solid #C7CdCa !important;
  background-color: #F5F5F5 !important;
}

.form-control:focus-visible {
  box-shadow: none !important;
  border-bottom: 2px solid #000 !important;
}
