
.disp-card {
    display: inline-block;
    width: 11em;
    margin: 0 0.35em 0.35em 0;
    padding: 0.5em 1em;
    border-radius: 0.4em;
    background-color: #4D5EE3;
    border-left: 5px solid #E3D24D;
    color: #EFEFEF;
}

.detalhes-over:hover {
    background-color: rgba( 50, 50, 50, 0.8 );
    border-radius: 5em;
}