
.estatisticas-grafico-panel {
    width: 100%;
    height: 40em;
    overflow-x: auto;
}

.estatisticas-grafico {
    width: 100%;
    height: 100%;
    max-width: 50em;
    max-height: 30em;
    aspect-ratio: 1.618;
    background-color: white;
    padding: 2em;
}

.estatisticas-grafico-label {
    display: inline-block;
    padding: 0.4em;
}

.estatisticas-grafico-label-vertical {
    writing-mode: vertical-lr;
    text-orientation: upright;
}